*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

:root {
  --main-color-300: #283434;
  --main-color-500: #10181d;
  --main-color-700: #080c14;
}

body {
  background-color: #10181d;
}
